@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    padding: 0;
    margin: 0;
}
header {
            background-color: #ffcc00;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

.search-box input {
    position: absolute;
    position: relative;
    right: 5vw;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 180px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h1  {
        font-family: 'Dela Gothic One', cursive;
        color: #d9534f;
        font-size: 32px;
        font-weight: 100; /*字體粗細*/
        font-style: normal;
    }

h2  {
        display: flex;   
        justify-content: center; 
        align-items: center;
        padding: 20px;
        font-family: 'Dela Gothic One', cursive;
        color: #d9534f;
        font-size: 32px;
        font-weight: 100;
        font-style: normal;
    }
.time-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px;
  background-color: #fff;
}

.time-button {
  padding: 10px 24px;
  border-radius: 999px; /* 圓形按鈕 */
  background-color: #d9534f;
  border: 0px solid #080808;
  font-family: 'Dela Gothic One', cursive;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.time-button:hover {
  background-color: #c4c4c4;
}

.time-button.active {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  border-color: #e0aa00;
}

    
    